header{
    font-size: 250%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid black;
}

body{
    overflow:scroll 
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hr{
    width: 100%;
    height: 100%;

}

h2{
    text-align: center;
    font-size: 550px;
    font-family: monospace;
    
}

img{
    width: 200px;
    height: 250px;
    margin-left: 50%;
}